ElComensal/ElComensal/Web References/ServiceSOAP/ComensalSOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="listarLocales">
        <s:complexType />
      </s:element>
      <s:element name="listarLocalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarLocalesResult" type="tns:ArrayOfBeLocal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBeLocal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="beLocal" nillable="true" type="tns:beLocal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="beLocal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idLocal" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombreLocal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numAforo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="numPisos" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="registrarLocal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreLocal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dirección" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numAforo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numPisos" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarLocalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrarLocalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarMesas">
        <s:complexType />
      </s:element>
      <s:element name="listarMesasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarMesasResult" type="tns:ArrayOfBeMesa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBeMesa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="beMesa" nillable="true" type="tns:beMesa" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="beMesa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ubicacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numMesa" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="numCapacidad" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="registrarMesa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ubicacion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numMesa" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numCapacidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarMesaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registrarMesaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarEstadoReserva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idReserva" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idEstado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarEstadoReservaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actualizarEstadoReservaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listarLocalesSoapIn">
    <wsdl:part name="parameters" element="tns:listarLocales" />
  </wsdl:message>
  <wsdl:message name="listarLocalesSoapOut">
    <wsdl:part name="parameters" element="tns:listarLocalesResponse" />
  </wsdl:message>
  <wsdl:message name="registrarLocalSoapIn">
    <wsdl:part name="parameters" element="tns:registrarLocal" />
  </wsdl:message>
  <wsdl:message name="registrarLocalSoapOut">
    <wsdl:part name="parameters" element="tns:registrarLocalResponse" />
  </wsdl:message>
  <wsdl:message name="listarMesasSoapIn">
    <wsdl:part name="parameters" element="tns:listarMesas" />
  </wsdl:message>
  <wsdl:message name="listarMesasSoapOut">
    <wsdl:part name="parameters" element="tns:listarMesasResponse" />
  </wsdl:message>
  <wsdl:message name="registrarMesaSoapIn">
    <wsdl:part name="parameters" element="tns:registrarMesa" />
  </wsdl:message>
  <wsdl:message name="registrarMesaSoapOut">
    <wsdl:part name="parameters" element="tns:registrarMesaResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarEstadoReservaSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarEstadoReserva" />
  </wsdl:message>
  <wsdl:message name="actualizarEstadoReservaSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarEstadoReservaResponse" />
  </wsdl:message>
  <wsdl:portType name="ComensalSOAPSoap">
    <wsdl:operation name="listarLocales">
      <wsdl:input message="tns:listarLocalesSoapIn" />
      <wsdl:output message="tns:listarLocalesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarLocal">
      <wsdl:input message="tns:registrarLocalSoapIn" />
      <wsdl:output message="tns:registrarLocalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarMesas">
      <wsdl:input message="tns:listarMesasSoapIn" />
      <wsdl:output message="tns:listarMesasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarMesa">
      <wsdl:input message="tns:registrarMesaSoapIn" />
      <wsdl:output message="tns:registrarMesaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarEstadoReserva">
      <wsdl:input message="tns:actualizarEstadoReservaSoapIn" />
      <wsdl:output message="tns:actualizarEstadoReservaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComensalSOAPSoap" type="tns:ComensalSOAPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarLocales">
      <soap:operation soapAction="http://tempuri.org/listarLocales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarLocal">
      <soap:operation soapAction="http://tempuri.org/registrarLocal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarMesas">
      <soap:operation soapAction="http://tempuri.org/listarMesas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarMesa">
      <soap:operation soapAction="http://tempuri.org/registrarMesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEstadoReserva">
      <soap:operation soapAction="http://tempuri.org/actualizarEstadoReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ComensalSOAPSoap12" type="tns:ComensalSOAPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarLocales">
      <soap12:operation soapAction="http://tempuri.org/listarLocales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarLocal">
      <soap12:operation soapAction="http://tempuri.org/registrarLocal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarMesas">
      <soap12:operation soapAction="http://tempuri.org/listarMesas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarMesa">
      <soap12:operation soapAction="http://tempuri.org/registrarMesa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEstadoReserva">
      <soap12:operation soapAction="http://tempuri.org/actualizarEstadoReserva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComensalSOAP">
    <wsdl:port name="ComensalSOAPSoap" binding="tns:ComensalSOAPSoap">
      <soap:address location="http://localhost:53921/ComensalSOAP.asmx" />
    </wsdl:port>
    <wsdl:port name="ComensalSOAPSoap12" binding="tns:ComensalSOAPSoap12">
      <soap12:address location="http://localhost:53921/ComensalSOAP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>